beautifulsoup4==4.8.2
elasticsearch==7.5.1
google-api-python-client==1.7.11
lxml==4.5.0
matplotlib==3.1.3
matplotlib-venn==0.11.5
networkx==2.4
numpy==1.18.1
pandas==1.0.1
provit==1.0.2
python-dateutil==2.8.1
PyYAML==5.1.1
requests==2.22.0
scipy==1.4.1
SocksiPy-branch==1.1
tqdm==4.42.1

